{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mb-5">
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
            {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissable fade show" id="msg" role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% endif %}
            <div class="card border-5">
                <div class="card-body">
                    <div class="card-title">
                        <h2>{{ post.title }}</h2>
                    </div>
                    <div class="card-text">
                        <p>{{ post.content|safe }}</p>
                        {% if 'placeholder' in post.image.url %}
                            <img src="https://res.cloudinary.com/dj9mjerfb/image/upload/v1649244724/placeholder_rw8acz.jpg" alt="Placeholder Image" class="commentcardimage">
                            {% else %}
                            <img src="{{ post.image.url }}" class="commentcardimage" alt="image for the post">
                            {% endif %}
                        <p class="commentcarddetails">
                            Likes: {{ post.number_of_likes }} |
                            Created: {{ post.created }} |
                            Updated: {{ post.updated }} |
                        </p>
                        {% if user.is_authenticated %} 
                        <form action="{% url 'likes' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" value="{{post.slug}}" class="btn btn-like"><i class="fas fa-heart hearticon"></i></button>
                            {% else %}
                            <button type="submit" value="{{post.slug}}" class="btn btn-like"><i class="far fa-heart hearticon"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <span></span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
<div class="container mb-5">
    <div class="row">
        <div class="col-md-8 mt-2 offset-md-2">
            <div class="card border-5">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Comments</h3>
                    </div>
                    <div class="card-text">
                        {% for comment in comments %}
                            <div class="border border-3">
                            <p class="mt-2">{{ comment.body }}</p>
                            <p class="commentcarddetails">
                                By {{ comment.name }} |
                                {{ comment.created}} |
                            </p>
                    
                            {% if user.is_authenticated %}
                            {% if user.username == comment.name %}
                            <div class="mb-2">
                                <a href="{% url 'edit' comment.id %}"><button>Edit Comment</button></a>
                                <a href="{% url 'delete' comment.id %}"><button>Delete</button></a>
                            </div>
                            {% endif %}
                            {% endif %}
                            </div>
                    
                        {% empty %}
                            <p>No comments yet</p>
                        {% endfor %}
                    
                        
                        {% if user.is_authenticated %}
                            {% if new_comment %}
                            <div class="mt-3">Your comment is awaiting approval</div>

                            {% else %}
                            <h4 class="mt-5">Leave a comment</h4>
                            <p>Posting as: {{ user.username }}</p>
                            <form method="POST">
                                {% csrf_token %}
                                {{form|crispy}}
                                <button class="button btn-signup btn-md mt-2" type="submit">Submit</button>
                            </form>
                            {% endif %}
                        {% else %}
                            <p class="mt-2">Please <a href="{% url 'account_login' %}">login </a>to leave a comment.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
