{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>This is a test heading from the comments.html</h1>

    <p>{{ post.title }}</p>
    <p>{{ post.content }}</p>
    <p>Likes: {{ post.number_of_likes }}</p>

    {% if user.is_authenticated %} 
    <form action="{% url 'likes' post.slug %}" method="POST">
        {% csrf_token %}
        {% if liked %}

        <button type="submit" value="{{post.slug}}" class="btn-like">Unlike</button>

        {% else %}

        <button type="submit" value="{{post.slug}}" class="btn-like">Like Me</button>

        {% endif %}

    </form>
    {% else %}
    <span></span>
    {% endif %}


    {% for comment in comments %}
        <p>{{ comment.name }}</p>
        <p>{{ comment.body }}</p>

        {% if user.is_authenticated %}
        {% if user.username == comment.name %}
            <div><a href="/delete/{{ comment.id }}"><button>Delete</button></a></div>
        {% endif %}
        {% endif %}

    
    {% empty %}
        <p>No comments yet</p>
    {% endfor %}

    
    {% if user.is_authenticated %}

    {% if new_comment %}
    <div>Your comment is awaiting approval</div>
    {% else %}
    <h3>Leave comment</h3>
    <p>Posting as: {{ user.username }}</p>

    
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button class="button btn-signup btn-lg" type="submit">Submit</button>
    </form>

    {% endif %}
    {% endif %}

    {% endblock content %}
