{% extends "base.html" %}

{% block content %}

    <h1>Welcome to my Travel Blog!</h1>
    <p>I travel around the world, sharing my experiences with you.</p>
    <p>Read my blog <a href="{% url 'posts' %}">here</a> and follow me along the road</p>
    <p>Leave me a comment to let me know what you think or add your recommendations or requests for places you would like me to visit.</p>
    <div><img src="https://res.cloudinary.com/dj9mjerfb/image/upload/v1649575200/homepage_iqbinf.jpg" alt="Picture of Pompeii" style="width: 300px"></div>

{% endblock content %}