{% extends "base.html" %}

{% block content %}

<div id="backgroundimage">
    <div class="container" id="homecontainer"></div>
        <div class="row" id="homerow">
            <div class="col-sm-8 mt-3 offset-sm-3">
            <!-- Display for django contrib messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissable fade show" id="msg" role="alert">
                    {{ message|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
                <!-- Card for the homepage -->
                <div class="card" id="homecard">
                    <div class="card-body">
                        <h2 class="card-title" id="homecardtitle">Welcome to my Travel Blog!</h2>
                        <p class="card-subtitle mb-2" id="homecardsubtitle">
                            I travel around the world, sharing my experiences with you.
                        </p>
                        <p class="card-text" id="homecardtext">
                            Read my blog and follow me along the road. Leave me a comment to let me 
                            know what you think or add your recommendations or requests for 
                            places you would like me to visit.
                        </p>
                        <a href="{% url 'posts' %}" class="card-link btn btn-primary" id="homecardlink">My blog</a>
                        <a href="{%url 'aboutme' %}" class="card-link btn btn-primary" id="homecardlink">About me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
