{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}
{{ post_form.media }}
{% endblock %}

{% block content %}

<div class="container mb-5">
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
            {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissable fade show" id="msg" role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% endif %}
            <div class="card border-5">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Create a new post:</h2>
                    </div>
                    <div class="card-text">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{post_form|crispy}}
                            <button class="button btn-signup btn-md mt-2" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
            <div class="card border-5">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Approve Comments here:</h2>
                    </div>
                    <div class="card-text">
                        {% for comment in comments %}
                        {% if comment.approved == False %}
                        <div class="border border-3 pt-2 pb-2">
                            <p class="profilecarddetails">
                                ID: {{ comment.id }} |
                                For Post: {{ comment.post }} |
                                <br>
                                Comment created: {{ comment.created }} |
                                By: {{ comment.name }} |
                                {{ comment.email }} 
                            </p>
                            <p class="profilecardtext">{{ comment.body }}</p>
                            <a href="{% url 'approve' comment.id %}" class="btn">Approve Comment</a>
                            <a href="{% url 'delete' comment.id %}" class="btn">Delete</a>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
            <div class="card border-5">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Already approved comments:</h2>
                    </div>
                    <div class="card-text">
                        {% for comment in comments %}
                        {% if comment.approved == True %}
                        <div class="border border-3 pt-2 pb-2">
                            <p class="profilecarddetails">
                                ID: {{ comment.id }} |
                                For Post: {{ comment.post }} |
                                <br>
                                Comment created: {{ comment.created }} |
                                By: {{ comment.name }} |
                                {{ comment.email }} 
                            </p>
                            <p class="profilecardtext">{{ comment.body }}</p>
                            <a href="{% url 'delete' comment.id %}" class="btn">Delete</a>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
