@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body {
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #7EB6D9;
    font-family: Kalam, sans-serif;
}

nav,
.nav-link,
.navbar-brand,
.navbar-brand:hover,
i:hover,
footer,
.btn {
    background-color: #D9C6B0;
    color: #000;
}

.navbar-brand {
    font-size: 25px;
}

.nav-link {
    font-size: 20px;
}

.nav-link:hover {
    background-color: #D9C6B0;
    color: #000;
    text-decoration: underline;
}



.btn {
    border: none;
}

.btn:hover {
    color: #fff;
    background-color: #446EA6;
    text-decoration: none;
}

.bold {
    font-weight: 800;
}

a {
    color: #000;
    font-weight: 800;
    text-decoration: none;
}

a:hover {
    color: #000;
    font-weight: 500;
    text-decoration: underline;
}

i {
    font-size: 20px;
    color: #000;
}

p {
    font-size: 17px;
}

/* homepage styling */
#backgroundimage {
    background: url(https://res.cloudinary.com/dj9mjerfb/image/upload/v1649575200/homepage_iqbinf.jpg) no-repeat center center fixed;
	background-size: cover;
    height: 100vh;
}

#homecontainer {
    position: relative;
}

#homerow {
    position: fixed; 
    top: 15%; 
    left: 5%;
}

#homecard {
    background-color: #fff;
    width: 270px;
}

#homecardtitle,
#homecardsubtitle,
#homecardtext {
    color: #000;
    font-weight: 500;
    padding-bottom: 15px;
}

/* posts page styling */
#posttitle:hover {
    text-decoration: underline;
}

.postscard {
    width: 90%;
}

.postscardimage {
    width: 100%;
}

.postscardtitle {
    font-size: 20px;
    color: #000;
}

.postscardtext {
    font-size: 15px;
}

.postscardtitlelink {   
    text-decoration: none;
}

/* comments page styling */
.commentcarddetails {
    font-size: 12px;
}

.commentcardimage {
    width: 100%;
}

.hearticon {
    color: #446EA6;
}

.hearticon:hover {
    color:#7EB6D9;
    background-color: #446EA6;
}

/* about me page styling */
#aboutmeimage {
    width: 100%;
}

/* profile page styling */
.profilecarddetails {
    font-size: 12px;
}

.profilecardtext {
    font-weight: 600;
}


@media screen and (min-width: 576px) {
    body {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    /* homepage styling for min-width 576px */
    #homerow {
        position: fixed; 
        top: 10%; 
        right: 45%;
    }
    
    #homecard {
        width: 400px;
    }
}
