{% extends "base.html" %}

{% block content %}

<div class="container mb-5">
    <!-- Contact heading -->
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
            <h2>Contact me</h2>
        </div>
    </div>
    <!-- Contact options -->
    <div class="row">
        <div class="col-md-2 mt-3 offset-md-2">  
            <p>Drop me an email:</p>
        </div>
        <div class="col-md-2 mt-3">
            <p class="bold">mia_travel_adventure@test.com</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 mt-3 offset-md-2">  
            <p>Find me on Instagram:</p>
        </div>
        <div class="col-md-2 mt-3">
            <p class="bold">@mia_travel_adventure</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
            <p>You can also leave me comments directly on my <a href="{% url 'posts' %}">blogposts</a>.</p>
        </div>
        <div class="col-md-8 mt-5 offset-md-2">
            <p>I am looking forward to your message!</p>
        </div>
    </div>

{% endblock content %}
