{% extends "base.html" %}

{% block content %}

    <h1>This is a test heading for the posts</h1>
    <p>test paragraph</p>
    
    <table>
    {% for post in posts %}
        <p>Author: {{ post.author }}</p>
        <a href="{% url 'comments' post.slug %}">
            
            <p>Title: {{ post.title }}</p>
            
        </a>
        {% if 'placeholder' in post.image.url %}
        <img src="https://res.cloudinary.com/dj9mjerfb/image/upload/v1649244724/placeholder_rw8acz.jpg" alt="Placeholder Image" style="width: 200px;">
        {% else %}
        <img src="{{ post.image.url }}" style="width: 200px;" alt="image for the post">
        {% endif %}
        <p>Created: {{ post.created }}</p>
        <p>Updated: {{ post.updated }}</p>
        <p>Likes: {{ post.number_of_likes }}</p>  
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <div><a href="/posts_edit/{{ post.id }}"><button>Edit Post</button></a></div>
        <div><a href="/posts_delete/{{ post.id }}"><button>Delete Post</button></a></div>
        {% endif %}
    {% endfor %}
    </table>

{% endblock content %}
